
body{
	background-image: url('../images/jason-leung-732100-unsplash.jpg');
}

.main_wrapper{
	margin: auto;
	width: 1200px;
	height: auto;
	background: #b7b72d;
}

.header_wrapper{
	width: 1200px;
	height: 200px;
	margin: auto;
	color: white;
}

.cont{
	width: 100%;
	height: auto;
	margin: auto;
	background: #8bc2a9;
}
.cont h2{
	text-align: center;
	margin-top: 0px;
}
.cont form{
	text-align: center;
}
.cont button{
	background: blue;
	color: white;
}

.cont_pp button{
	background: green;
}

.footer{
	width: 100%;
	height: 100px;
	margin: auto;
	background: #0d1a26;
	color: white;
	padding-top: 0px;
}

.left-bar{
	width: 40%;
	height: 500px;
	margin: auto;
	background: white;
	float: left;
	
	
}
.asidebar{
	width: 60%;
	height: 500px;
	margin: auto;
	background: white;
	float: right;

}
#logo{
	float: left;
	width: 600px;
	height: 200px;
}

#office{
	float: right;
	width: 600px;
	height: 200px;
}

.content_wrapper{
	width: 1200px;
	height: 800px;
	margin: auto;
	background:pink;
}


.menubar, nav{
	width: 1200px;
	height: 50px;
	background: #204060;
	color: white;
	float: ;
	padding: 0;
	margin: 0;
	line-height: 35px;
}

#menu{
	
}

#menu li{
	display: inline;
}

#menu a{
	text-decoration: none;
	color: white;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
	font-family: COMIC SANS MS;
}

#menu a:hover{
	color: orange;
	font-weight: bolder;
	text-decoration: underline;
}

#employee {
	width: 1200px;
	height: 100px;
	color: white;
	background: black;
}
.attendance{
	background: lightgray;
	margin: 10px;
	text-align: center;
	height: auto;
}
.attendanc{
	background: lightgray;
	margin: 10px;
	text-align: center;
	height: 300px

}
.add{
	padding: 20px;
	
	

}
.bac{
	float: right;
	background: skyblue;
	font-size: 18px;
	
}
.ademp{
	float: left;
	background: green;
	font-size: 18px;
	
}

.group{
	float: left;
	padding:20px;
	text-align: left; 
}




.output{
	background-color: white;
	box-shadow: 0px 1px 1px #000;
	height: auto;
	
	overflow: scroll; 
} 

/*table*/
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.chats{
	background: pink;
	width: 50%;
	border-radius: 10px;
}

.reply-chats{
	background: skyblue;
	width: 50%;
	border-radius: 10px;
	margin-left: 40px;
}

.main-chat{
	height: 400px;
	overflow: scroll;
}