
.main-wraper{
	width: 90%;
	background-color: ;
}

.right-bar{
	width: 50%;
	background-color: #fd7e14;
	float: right;
}

.left-bar{
	width: 50%;
	background-color: #b3d7ff;
	float: left;
}
.
/*table*/
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
.admin-chats{
	background: gold;
	width: 50%;
	border-radius: 10px;
	margin-left: 20%;
}

.admin-reply{
	background: grey;
	width: 50%;
	border-radius: 10px;
	margin-left: 20%;
}

.left{
	background: #c7a643;
	width: 400px;
	height: 500px;
	float: right;
	padding-top: 50px;

}
.right{
	float: left;
	width: 450px;
	padding-left: 50px;
	padding-top: 50px;
	background: ;
}

.sms{
	margin-left: 20%;
	background: skyblue;
}

